.quote-calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background: #f8fde5 url(https://cdn.moneyme.com.au/web2/images/Masterpage/V1/sec2-upper-mm.png) no-repeat;
}