.amount-slider {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
    width: 100%;
}

mat-slider {
    width: 90%;
    margin: 0px;
    padding: 0px;
}

::ng-deep .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
    background-color: black;
}

.range{
    display: flex;
    flex-direction: row;
    width: 80%;
}

.range-spacing{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
}

.slider-label:after {
	content: '';
	position: absolute;
	bottom: 4px;
	left: 50%;
	width: 0;
	height: 0;
	border: 14px solid transparent;
	border-top-color: #00D1CF;
	border-bottom: 0;
	margin-left: -14px;
	margin-bottom: -14px;
}

::ng-deep .mat-slider-horizontal .mat-slider-track-wrapper {
    height: 8px !important;
    border-radius: 5px;
}

::ng-deep .mat-slider-track-background, ::ng-deep .mat-slider-wrapper {
    height: 8px !important;
    background-color: #E9E9E9;
    border-radius: 5px;
}

::ng-deep .mat-slider-track-fill {
    background-color: #00D1CF !important;
    border-color: #00D1CF !important;
    border-radius: 5px;
    height: 8px !important;
}

::ng-deep .mat-slider-thumb, ::ng-deep .mat-slider-focus-ring {
    background-color: white !important;
    border-color: #DDDDDD !important;
}

::ng-deep .mat-slider-track-background {
    background-color: #E9E9E9 !important;
}

::ng-deep .mat-slider:not(.mat-slider-disabled):not(.mat-slider-sliding) .mat-slider-thumb {
    transform: scale(1);
    border-width: 2px;
}

h3 {
    font-family: 'primary';
}

label {
    font-family: 'primary';
    color: #8A8A8A;
}

@font-face {
  font-family: 'primary';
  src: url('https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ.woff2') format('woff2');
}