<div>
    <div>
        <div style="display: flex; flex-direction: row; width: 100%; margin-top: 30px;">
            <h3>Finance details</h3>
            <div style="flex-grow: 1;"></div>
            <a mat-flat-button disableRipple>Edit</a>
        </div>
        <div style="display: flex; flex-direction: row; width: 100%; margin-top: 10px;">
            <h3 style="font-family: 'thin';">Finance amount</h3>
            <div style="flex-grow: 1;"></div>
            <h3 style="color: #00D1CF; font-family: 'primary';">{{amount}}</h3>
        </div>
        <div style="display: flex; flex-direction: row; width: 100%; align-items: center;">
            <div style="flex-grow: 1;">
                <div style="height: 1px; border-top: 1px dashed;"></div>
            </div>
            <p style="font-family: 'primary'; margin: 0px 0px 0px 5px;">over {{term}} month</p>
        </div>
        <div style="display: flex; flex-direction: row; width: 100%; margin-top: 20px;">
            <h3 style="font-family: 'thin';">Repayments from</h3>
            <div style="flex-grow: 1;"></div>
            <h3 style="color: #00D1CF; font-family: 'primary';">{{amortization}}</h3>
        </div>
        <div style="display: flex; flex-direction: row; width: 100%; align-items: center;">
            <div style="flex-grow: 1;">
                <div style="height: 1px; border-top: 1px dashed;"></div>
            </div>
            <p style="font-family: 'primary'; margin: 0px 0px 0px 5px;">Monthly</p>
        </div>
    </div>
</div>