<mat-card>
    <mat-card-title>Your quote</mat-card-title>
    <mat-card-content>
        <div class="content">
            <app-user-information [name]="customer.firstName + ' '+ customer.lastName" [email]="customer.emailAddress"
                [mobile]="customer.mobileNumber"></app-user-information>
            <app-finance-details [amortization]="'$'+loanApplication.monthlyPayment.toLocaleString()"
                [amount]="'$'+loanApplication.loanAmount.toLocaleString()" [term]="loanApplication.term">
            </app-finance-details>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <button type="button" mat-flat-button color="primary">
                Apply now
            </button>
            <small style="color: gray;">
                Total repayment ${{loanApplication.loanAmount.toLocaleString()}}, made up of an establishment fee of
                ${{loanApplication.fee.toLocaleString()}}, interest of
                ${{loanApplication.interest}}. The repayment
                amount is
                based on variables selected, is subject to our assessment and sustaianbility, and other important term
                and conditions apply.
            </small>
        </div>
    </mat-card-content>
</mat-card>