<mat-card>
    <mat-card-title>Your quote</mat-card-title>
    <mat-card-content>
        <div class="content">
            <app-user-information [name]="customer.firstName + ' '+ customer.lastName" [email]="customer.email"
                [mobile]="customer.mobile"></app-user-information>
            <app-finance-details [amortization]="'$'+loanApplication.monthly.toLocaleString()"
                [amount]="'$'+loanApplication.amountRequired.toLocaleString()"></app-finance-details>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <button type="button" mat-flat-button color="primary">
                Apply now
            </button>
            <small style="color: gray;">
                Total repayment ${{loanApplication.amountRequired.toLocaleString()}}, made up of an establishment fee of
                ${{loanApplication.fee.toLocaleString()}}, interest of
                ${{loanApplication.amountRequired.toLocaleString()}}. The repayment
                amount is
                based on variables selected, is subject to our assessment and sustaianbility, and other important terms
                and conditions apply.
            </small>
        </div>
    </mat-card-content>
</mat-card>