mat-card {
    max-width: 521px;
    margin: 5%;
    font-family: 'primary';
    color: #8A8A8A;
}

form {
    display: flex;
    flex-direction: column;
}

mat-card-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    align-items: center;
    font-size: xx-large;
    padding: 10px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

mat-expansion-panel {
    border-color: #00D1CF;
    border-style: dashed;
    margin-bottom: 5px;
    border-width: 1px;
}

.mat-expansion-panel-header {
    font-family: 'secondary';
}

button{
    width: 60%;
    font-family: 'primary';
    background-color: #4FD135 !important;
    color: white !important;
    box-shadow: none !important;
    height: 40px;
    font-size: large;
}

::ng-deep .mat-input-element {
    caret-color: #8A8A8A;
    color: black !important;
}

::ng-deep .mat-form-field-label {
    color: #8A8A8A;
}

::ng-deep .mat-form-field {
    font-family: 'Primary';
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #00D1CF;
}

::ng-deep .mat-form-field .mat-form-field-ripple {
    background-color: #8A8A8A;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #00D1CF;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #00D1CF;
}

::ng-deep .mat-form-field .mat-select-placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: black;
}

@font-face {
  font-family: 'primary';
  src: url('https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ.woff2') format('woff2');
}

@font-face {
    font-family: 'secondary';
    src: url('https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxsAXC-q.woff2') format('woff2');
}