<mat-card>
  <mat-card-title>Quote Calculator</mat-card-title>
  <mat-card-content>
    <div class="form">
      <mat-accordion style="margin-bottom: 10px; margin-top: 10px;">
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Quote Details
            </mat-panel-title>
            <mat-panel-description
              [textContent]="format(partialQuote.amountRequired) + ' for '+ formatAmortization(partialQuote.term)">
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <mat-form-field>
              <mat-label>Product</mat-label>
              <mat-select [(ngModel)]="selectedProduct">
                <mat-option *ngFor="let product of products" [value]="product">{{product.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <app-quote-slider [(updateSlider)]="updateSlider" [(sliderValue)]="sliderValue"
              [(currentValue)]="loanAmount" [partialQuote]="partialQuote" [format]="format"
              [title]="'How much do you need?'" [maximum]="15000" [minimum]="2100">
            </app-quote-slider>
            <app-quote-slider [(updateSlider)]="updateTermSlider" [(sliderValue)]="sliderValue" [(currentValue)]="term"
              [partialQuote]="partialQuote" [format]="formatAmortization" [title]="'For how long?'"
              [maximum]="selectedProduct.maximumDuration" [minimum]="selectedProduct.minimumDuration">
            </app-quote-slider>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelState = true" (closed)="panelState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Your Information
            </mat-panel-title>
            <mat-panel-description>
              Mr. Jay Mark Estrera
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-user-form [formGroup]="formGroup"></app-user-form>
        </mat-expansion-panel>
      </mat-accordion>
      <div style="display: flex; flex-direction: column; align-items: center;">
        <button type="button" (click)="requestQuoteAsync()" mat-flat-button color="primary">
          Calculate Quote
        </button>
        <small style="margin: 10px; color: gray;">
          Quote does not affect your credit score.
        </small>
      </div>
    </div>
  </mat-card-content>
</mat-card>